# ##############################################################################
# Based on:
# iCEcube PCF
# Version:            2017.08.27940
# File Generated:     Sep 22 2019 14:01:33
# Family & Device:    iCE40HX1K
# Package:            VQ100
# ##############################################################################

#
# Place clock design
#
ble_pack T_12_8_lc_0 {instclk.cmb_tap0} -no_pin_permute
ble_pack T_12_8_lc_1 {instclk.cmb_tap1} -no_pin_permute
ble_pack T_12_8_lc_2 {instclk.cmb_tap2} -no_pin_permute
ble_pack T_12_8_lc_3 {instclk.cmb_tap3} -no_pin_permute
clb_pack T_12_8 {T_12_8_lc_0,T_12_8_lc_1,T_12_8_lc_2,T_12_8_lc_3,,,,}
set_location T_12_8 12 8

#
# Place buffered msb of phase accumulator
#
ble_pack T_12_13_lc_0 {r_buffermsb}
ble_pack T_12_13_lc_1 {r_buffermsb2}
clb_pack T_12_13 {T_12_13_lc_0,T_12_13_lc_1}
set_location T_12_13 12 13

#
# Pin locations
#
set_io CLK_I 13 -io_std SB_LVCMOS -pullup no
set_io dummy 60 -io_std SB_LVCMOS -pullup no
set_io led[0] 59 -io_std SB_LVCMOS -pullup no
set_io led[1] 56 -io_std SB_LVCMOS -pullup no
set_io led[2] 53 -io_std SB_LVCMOS -pullup no
set_io led[3] 51 -io_std SB_LVCMOS -pullup no
set_io antennae 66 -io_std SB_LVCMOS -pullup no

#
# Cascading List
#
set_cascading instclk.cmb_tap0
set_cascading instclk.cmb_tap1
set_cascading instclk.cmb_tap2
set_cascading instclk.cmb_tap3

